#messagem {
    margin: 3rem;
    min-width: 20vh;
    width: 60vh;
    height: 15vh;
    resize: none;
    box-shadow: 0 0 0 0;
    outline: none;
    text-indent: 10px;
    line-height: normal; 
}

#enviar {
    width: 40vh;
    min-width: 10vh;
}

form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}